<div class="page-title">
  <h4>
    <a routerLink="/categories">Категории</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew?'Добавить':'Редактировать'}} категорию
  </h4>
  <span>
            <button *ngIf="!isNew" class="btn btn-small red" (click)="deleteCategory()">
              <i class="material-icons">delete</i>
            </button>
          </span>
</div>

<div class="row">
  <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-field">
      <input id="name" type="text"
             formControlName="name"
             [ngClass]="{'invalid':form.get('name').invalid && form.get('name').touched}"
      >
      <label for="name">Название</label>
      <span class="helper-text red-text"
            *ngIf="form.get('name').invalid && form.get('name').touched"
      >
        <span *ngIf="form.get('name').errors['required']">Имя категории не может быть пустым...</span>
      </span>
    </div>

    <div>
      <input type="file"
             style="display: none"
             #input
             (change)="onFileUpload($event)"
      >
      <button (click)="triggerClick()"
              type="button" class="waves-effect waves-light btn orange lighten-2 mb2"
              [disabled]="form.disabled"
      >
        <i class="material-icons left">backup</i>
        Загрузить изображение
      </button>
    </div>

    <div>
      <button
        type="submit"
        class="waves-effect waves-light btn"
        [disabled]="form.invalid || form.disabled"
      >
        Сохранить изменения
      </button>
    </div>

  </form>

  <div class="col s12 l4 center">
    <img class="responsive-img"
         style="height: 200px"
         [src]="imagePreview"
         *ngIf="imagePreview"
         (click)="triggerClick()"
    >
  </div>
</div>


<app-position-form *ngIf="categoty?._id"
  [categoryId]="categoty._id"
></app-position-form>
